
*.driveupload
*.bat
.spyproject
__pycache__
.directory
.tmp.drivedownload
TestCode
Config
*.code-workspace
.vscode
Test.py
first Tries/

tobsprRenderPipeline/*
tobspr*

Examples/terrainGen_1/tiles/
Examples/terrainGen_1/hmaps/
Examples/temp
temp_*/

